.main-form-registration {
}

.inner-form-registration {
}

.register-button-wrapper {
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.register-button {
}

.subtitle-form {
  margin: auto;
  width: max-content;
}

.select-input-register-form {
  width: 17.5rem;
  margin-top: 0.5rem;
}
